.header {
    background-color: #ffffff;
    height: 69px;
    width: 100%;
  
  }
  
  .header .div-container {
    height: 37px;
    left: 192px;
    position: relative;
    top: 16px;
    width: 100%;
  }
  
  .header .div-flex {
   display: flex;
   justify-content: center;
  }
  
  .header .div-relative {
    height: 37px;
    left: 192px;
    position: relative;
    width: 576px;
  }
  
  .header .overlap-group {
    border-radius: 6px;
    height: 37px;
    position: relative;
  }
  
  .header .input-search {
    background-color: #f4f5f7;
    border-radius: 6px;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 576px;
  }
  
  .header .div-placeholder {
    height: 17px;
    left: 32px;
    position: relative;
    top: 10px;
    width: 536px;
  }
  
  .header .text-wrapper {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 126px;
  }
  
  .header .SVG {
    height: 16px;
    left: 8px;
    position: absolute;
    top: 10px;
    width: 16px;
  }
  
  .header .list {
    height: 32px;
    left: 1136px;
    position: absolute;
    top: 2px;
    width: 120px;
  }
  
  .header .item-button-toggle {
    height: 20px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 20px;
  }
  
  .header .item {
    height: 24px;
    left: 44px;
    position: absolute;
    top: 4px;
    width: 20px;
  }
  
  .header .div {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .header .button-notifications {
    height: 20px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px;
  }
  
  .header .button-notifications-2 {
    background-color: #e02424;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 9999px;
    height: 12px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 12px;
  }
  
  .header .item-button-account {
   
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 88px;
    position: absolute;
    top: 0;
    width: 32px;
  }
  