.main {
    height: 1011px;
    width: 1664px;
  }
  
  .main .div-container {
  
    left: 288px;
    position: relative;
    width: 1280px;
  }
  
  .main .heading {
    height: 36px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 1232px;
  }
  
  .main .text-wrapper {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 29px;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 127px;
  }
  
  .main .link {
    background-color: #7e3af2;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
    height: 53px;
    left: 24px;
    overflow: hidden;
    position: absolute;
    top: 84px;
    width: 1232px;
  }
  
  .main .div-flex {
    height: 21px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 208px;
  }
  
  .main .SVG {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .main .div {
    color: #edebfe;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 28px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 180px;
  }
  
  .main .text-wrapper-2 {
    color: #edebfe;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 1127px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 90px;
  }
  
  .main .div-grid {
    height: 88px;
    left: 24px;
    position: absolute;
    top: 169px;
    width: 1232px;
  }
  
  .main .div-flex-2 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #0000000d;
    height: 88px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 290px;
  }
  
  .main .div-p {
    height: 44px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 44px;
  }
  
  .main .div-2 {
    height: 56px;
    left: 76px;
    position: absolute;
    top: 16px;
    width: 81px;
  }
  
  .main .text-wrapper-3 {
    color: #4c4f52;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 81px;
  }
  
  .main .text-wrapper-4 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
    width: 47px;
  }
  
  .main .div-flex-3 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #0000000d;
    height: 88px;
    left: 314px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 290px;
  }
  
  .main .div-3 {
    height: 56px;
    left: 76px;
    position: absolute;
    top: 16px;
    width: 112px;
  }
  
  .main .text-wrapper-5 {
    color: #4c4f52;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 113px;
  }
  
  .main .text-wrapper-6 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
    width: 106px;
  }
  
  .main .div-flex-4 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #0000000d;
    height: 88px;
    left: 628px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 290px;
  }
  
  .main .div-4 {
    height: 56px;
    left: 76px;
    position: absolute;
    top: 16px;
    width: 69px;
  }
  
  .main .text-wrapper-7 {
    color: #4c4f52;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 69px;
  }
  
  .main .text-wrapper-8 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
    width: 34px;
  }
  
  .main .div-flex-5 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #0000000d;
    height: 88px;
    left: 942px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 290px;
  }
  
  .main .div-5 {
    height: 56px;
    left: 76px;
    position: absolute;
    top: 16px;
    width: 117px;
  }
  
  .main .text-wrapper-9 {
    color: #4c4f52;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 21px;
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 117px;
  }
  
  .main .text-wrapper-10 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    top: 28px;
    white-space: nowrap;
    width: 23px;
  }
  
  .main .div-w-full {
    background-color: #ffffff01;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #0000000d;
    height: 671px;
    left: 24px;
    overflow: hidden;
    position: absolute;
    top: 289px;
    width: 1232px;
  }
  
  .main .table {
    height: 618px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1232px;
  }
  
  .main .header-row {
    background-color: #f9fafb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d5d6d7;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1232px;
  }
  
  .main .cell-client {
    color: #707275;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    left: 16px;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 46px;
  }
  
  .main .cell-amount {
    color: #707275;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    left: 517px;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 57px;
  }
  
  .main .cell-status {
    color: #707275;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    left: 752px;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 49px;
  }
  
  .main .cell-date {
    color: #707275;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    left: 1005px;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 33px;
  }
  
  .main .body {
    background-color: #ffffff;
    height: 576px;
    left: 0;
    position: absolute;
    top: 42px;
    width: 1232px;
  }
  
  .main .text-wrapper-11 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 84px;
  }
  
  .main .text-wrapper-12 {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 81px;
  }
  
  .main .overlap {
  
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .div-6 {
    background-color: #ffffff01;
    border-radius: 9999px;
    box-shadow: inset 0px 2px 4px #0000000f;
    height: 32px;
  }
  
  .main .text-wrapper-13 {
    color: #24262d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 517px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 61px;
  }
  
  .main .div-wrapper {
    background-color: #def7ec;
    border-radius: 9999px;
    height: 23px;
    left: 752px;
    position: absolute;
    top: 20px;
    width: 73px;
  }
  
  .main .text-wrapper-14 {
    color: #046c4e;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 8px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 57px;
  }
  
  .main .text-wrapper-15 {
    color: #24262d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 1005px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 69px;
  }
  
  .main .row {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 64px;
    width: 1232px;
  }
  
  .main .data-jolina-angelie {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 95px;
  }
  
  .main .data-unemployed {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 72px;
  }
  
  .main .overlap-group {
 
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .data {
    color: #24262d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 517px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 60px;
  }
  
  .main .data-2 {
    background-color: #feecdc;
    border-radius: 9999px;
    height: 23px;
    left: 752px;
    position: absolute;
    top: 20px;
    width: 64px;
  }
  
  .main .text-wrapper-16 {
    color: #b43403;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 8px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 48px;
  }
  
  .main .row-2 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 128px;
    width: 1232px;
  }
  
  .main .data-sarah-curry {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 81px;
  }
  
  .main .data-designer {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 51px;
  }
  
  .main .data-wrapper {
   
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .data-3 {
    color: #24262d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 517px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 51px;
  }
  
  .main .data-4 {
    background-color: #fde8e8;
    border-radius: 9999px;
    height: 23px;
    left: 752px;
    position: absolute;
    top: 20px;
    width: 57px;
  }
  
  .main .text-wrapper-17 {
    color: #c81e1e;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 8px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 41px;
  }
  
  .main .row-3 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 192px;
    width: 1232px;
  }
  
  .main .data-rulia-joberts {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 89px;
  }
  
  .main .data-actress {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 43px;
  }
  
  .main .overlap-2 {
   
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .data-5 {
    color: #24262d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 517px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 66px;
  }
  
  .main .row-4 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 256px;
    width: 1232px;
  }
  
  .main .data-wenzel {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 131px;
  }
  
  .main .data-actor {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 31px;
  }
  
  .main .overlap-3 {
    
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .data-6 {
    background-color: #f4f5f7;
    border-radius: 9999px;
    height: 23px;
    left: 752px;
    position: absolute;
    top: 20px;
    width: 60px;
  }
  
  .main .text-wrapper-18 {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 8px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 44px;
  }
  
  .main .row-5 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 320px;
    width: 1232px;
  }
  
  .main .data-dave-li {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 49px;
  }
  
  .main .data-influencer {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 57px;
  }
  
  .main .overlap-4 {
   
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .row-6 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 384px;
    width: 1232px;
  }
  
  .main .data-maria-ramovic {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 100px;
  }
  
  .main .data-runner {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 40px;
  }
  
  .main .overlap-5 {
    
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .row-7 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 448px;
    width: 1232px;
  }
  
  .main .data-hitney-wouston {
    color: #24262d;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    left: 60px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 108px;
  }
  
  .main .data-singer {
    color: #4c4f52;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 37px;
  }
  
  .main .overlap-6 {
    
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .row-8 {
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 512px;
    width: 1232px;
  }
  
  .main .overlap-7 {
    
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 9999px;
    height: 32px;
    left: 16px;
    position: absolute;
    top: 16px;
    width: 32px;
  }
  
  .main .div-grid-2 {
    background-color: #f9fafb;
    border-color: #d5d6d7;
    border-top-style: solid;
    border-top-width: 1px;
    height: 53px;
    left: 0;
    position: absolute;
    top: 618px;
    width: 1232px;
  }
  
  .main .span-flex {
    height: 28px;
    left: 16px;
    position: absolute;
    top: 13px;
    width: 400px;
  }
  
  .main .showing-of {
    color: #707275;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 0;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    width: 147px;
  }
  
  .main .span-flex-2 {
    height: 28px;
    left: 683px;
    position: absolute;
    top: 13px;
    width: 533px;
  }
  
  .main .nav-table-navigation {
    height: 25px;
    left: 230px;
    position: absolute;
    top: 2px;
    width: 40px;
  }
  
  .main .nav-table-navigation-2 {
    border-radius: 6px;
    height: 26px;
    left: 270px;
    position: absolute;
    top: 1px;
    width: 30px;
  }
  
  .main .text-wrapper-19 {
    color: #707275;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 12px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 6px;
  }
  
  .main .nav-table-navigation-3 {
    border-radius: 6px;
    height: 26px;
    left: 299px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .main .text-wrapper-20 {
    color: #707275;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 12px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 4px;
    white-space: nowrap;
    width: 8px;
  }
  
  .main .nav-table-navigation-4 {
    background-color: #7e3af2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 28px;
    left: 331px;
    position: absolute;
    top: 0;
    width: 33px;
  }
  
  .main .text-wrapper-21 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 13px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 8px;
  }
  
  .main .nav-table-navigation-5 {
    border-radius: 6px;
    height: 26px;
    left: 363px;
    position: absolute;
    top: 1px;
    width: 32px;
  }
  
  .main .nav-table-navigation-6 {
    height: 18px;
    left: 395px;
    position: absolute;
    top: 5px;
    width: 35px;
  }
  
  .main .text-wrapper-22 {
    color: #707275;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    left: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 12px;
  }
  
  .main .nav-table-navigation-7 {
    border-radius: 6px;
    height: 26px;
    left: 430px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .main .nav-table-navigation-8 {
    border-radius: 6px;
    height: 26px;
    left: 462px;
    position: absolute;
    top: 1px;
    width: 31px;
  }
  
  .main .img {
    height: 25px;
    left: 493px;
    position: absolute;
    top: 2px;
    width: 40px;
  }
 