.www-musinsa-com-by {
    margin-top: 3%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
   
}

.www-musinsa-com-by .div {
   
    background-position: 50% 50%;
    background-size: cover;
    height: 705px;
    position: relative;
    width: 2000px;
}

.www-musinsa-com-by .main-section {
    height: 655px;
    left: 700px;
    position: absolute;
    top: 50px;
    width: 375px;
}


.www-musinsa-com-by .input {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 30px #ffffff;
    height: px;
    left: 1px;
    overflow: hidden;
    position: relative;
    top: 1px;
    width: 343px;
    border: none;
}

.www-musinsa-com-by .div-placeholder {
    height: 17px;
    left: 12px;
    position: relative;
    top: 16px;
    width: 319px;
}

.www-musinsa-com-by .text-wrapper {
    color: #6e6e6e;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 17px;
}

.email-button{
    background-color: white;
    color:   black;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 300px;
    position: absolute;
    white-space: nowrap;
 


}

.www-musinsa-com-by .form-2 {
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 123px;
    width: 345px;
}

.www-musinsa-com-by .form-3 {
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 183px;
    width: 345px;
}
.www-musinsa-com-by .form-4 {
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 243px;
    width: 345px;
}
.www-musinsa-com-by .form-5 {
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 303px;
    width: 345px;
}
.Gender{
    display: flex;
}
.www-musinsa-com-by .Gender-button {
    background-color: white;
    color:   black;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 363px;
    width: 172.5px;
}
.color-button {
    background-color: black;
    color:   white;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 363px;
    width: 172.5px;
  }
.www-musinsa-com-by .Gender-button1 {
    background-color: white;
    color:   black;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 190px;
    position: absolute;
    top: 363px;
    width: 172.5px;
}
.color-button1 {
    background-color: black;
    color:   white;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 190px;
    position: absolute;
    top: 363px;
    width: 172.5px;
}

.www-musinsa-com-by .div-placeholder-wrapper {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 30px #ffffff;
    height: 48px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 306px;
}

.www-musinsa-com-by .div-wrapper {
    height: 17px;
    left: 12px;
    position: relative;
    top: 16px;
    width: 282px;
}

.www-musinsa-com-by .text-wrapper-2 {
    color: #6e6e6e;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 22px;
}

.www-musinsa-com-by .button {
    height: 30px;
    left: 307px;
    position: absolute;
    top: 10px;
    width: 30px;
}

.www-musinsa-com-by .form-button {
    background-color: #000000;
    border: 1px solid;
    border-radius: 4px;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 423px;
    width: 345px;
}

.www-musinsa-com-by .text-wrapper-3 {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 16px;
    left: 150px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 16px;
}

.error{
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 16px;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
   
}


.www-musinsa-com-by .form-label {
    height: 21px;
    left: 15px;
    position: absolute;
    top: 259px;
    width: 55px;
}

.www-musinsa-com-by .before {
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.www-musinsa-com-by .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 26px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 1px;
    white-space: nowrap;
    width: 30px;
}

.www-musinsa-com-by .form-list-item-link {
    color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 230px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 260px;
    white-space: nowrap;
    width: 34px;
}

.www-musinsa-com-by .span {
    color: #aaaaaa;
}

.www-musinsa-com-by .text-wrapper-5 {
    color: #000000;
}

.www-musinsa-com-by .form-list-item-link-2 {
    color: #aaaaaa;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 325px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 260px;
    white-space: nowrap;
    width: 35px;
}

.www-musinsa-com-by .form-list-item {
    background-color: #d8d8d8;
    height: 14px;
    left: 315px;
    position: absolute;
    top: 262px;
    width: 1px;
}

.www-musinsa-com-by .div-login-social {
    height: 102px;
    left: 15px;
    position: absolute;
    top: 304px;
    width: 345px;
}

.www-musinsa-com-by .link {
    background-color: #fee500;
    border: 1px solid;
    border-radius: 4px;
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 345px;
}

.www-musinsa-com-by .overlap-group {
    height: 50px;
    left: 97px;
    position: relative;
    top: 8px;
    width: 67px;
}

.www-musinsa-com-by .SVG {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

.www-musinsa-com-by .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 17px;
    left: 26px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 41px;
}

.www-musinsa-com-by .overlap-wrapper {
    border: 1px solid;
    border-color: #bfbfbf;
    border-radius: 4px;
    height: 45px;
    left: 0;
    position: absolute;
    top: 57px;
    width: 345px;
}

.www-musinsa-com-by .overlap {
    height: 50px;
    left: 110px;
    position: relative;
    top: 8px;
    width: 91px;
}

.www-musinsa-com-by .img {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 29px;
}

.www-musinsa-com-by .apple {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 17px;
    left: 25px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 66px;
}

.www-musinsa-com-by .p {
    color: #0078ff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 17px;
    left: 112px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 439px;
    white-space: nowrap;
    width: 106px;
}

.www-musinsa-com-by .button-2 {
    all: unset;
    border: 1px solid;
    border-color: #0078ff;
    border-radius: 4px;
    box-sizing: border-box;
    height: 29px;
    left: 225px;
    position: absolute;
    top: 434px;
    width: 38px;
}


.www-musinsa-com-by .text-wrapper-7 {
    color: #0078ff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 9px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 21px;
}

.www-musinsa-com-by .nav {
    background-color: #ffffff;
    height: 45px;
    
    position: absolute;
    top: 0;
    width: 375px;
}

.www-musinsa-com-by .link-2 {
    height: 45px;
    left: 95px;
    position: absolute;
    top: 0;
    width: 188px;
}

.www-musinsa-com-by .before-2 {
    background-color: #000000;
    height: 2px;
    left: 0;
    position: absolute;
    top: 43px;
    width: 188px;
}

.www-musinsa-com-by .text-wrapper-8 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 17px;
    left: 55px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 28px;
}

.www-musinsa-com-by .link-3 {
    height: 45px;
    left: 188px;
    position: absolute;
    top: 0;
    width: 188px;
}

.www-musinsa-com-by .before-3 {
    background-color: #d1d1d1;
    height: 1px;
    left: 0;
    position: absolute;
    top: 44px;
    width: 188px;
}

.www-musinsa-com-by .text-wrapper-9 {
    color: #b3b3b3;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 17px;
    left: 50px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 50px;
}

.www-musinsa-com-by .div-common-layout-sc {
    background-color: #ffffff;
    height: 50px;
    left: 772px;
    position: absolute;
    top: 0;
    width: 375px;
}

.www-musinsa-com-by .div-common-layout-sc-2 {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.www-musinsa-com-by .heading-wrapper {
    height: 50px;
    left: 167px;
    position: absolute;
    top: 0;
    width: 41px;
}

.www-musinsa-com-by .heading {
    height: 19px;
    overflow: hidden;
    position: relative;
    top: 16px;
}

.www-musinsa-com-by .text-wrapper-10 {
    color: #000000;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
    width: 42px;
}

.www-musinsa-com-by .section {
    background-color: #ffffff;
    border-radius: 28px 28px 0px 0px;
    height: 267px;
    left: 0;
    position: absolute;
    top: 1120px;
    width: 1920px;
}

.www-musinsa-com-by .link-4 {
    background-color: #000000;
    border: 1px solid;
    border-radius: 4px;
    height: 45px;
    left: 15px;
    position: absolute;
    top: 54px;
    width: 1890px;
}

.www-musinsa-com-by .text-wrapper-11 {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 17px;
    left: 911px;
    letter-spacing: 0;
    line-height: 22.5px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 69px;
}

.www-musinsa-com-by .overlap-group-wrapper {
    background-color: #fee500;
    border: 1px solid;
    border-radius: 4px;
    height: 45px;
    left: 15px;
    position: absolute;
    top: 111px;
    width: 1890px;
}

.www-musinsa-com-by .overlap-group-2 {
    height: 30px;
    left: 906px;
    position: relative;
    top: 7px;
    width: 78px;
}

.www-musinsa-com-by .text-wrapper-12 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 17px;
    left: 26px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 52px;
}

.www-musinsa-com-by .link-5 {
    border: 1px solid;
    border-color: #bfbfbf;
    border-radius: 4px;
    height: 45px;
    left: 15px;
    position: absolute;
    top: 168px;
    width: 1890px;
}

.www-musinsa-com-by .overlap-2 {
    height: 30px;
    left: 894px;
    position: relative;
    top: 7px;
    width: 102px;
}

.www-musinsa-com-by .apple-2 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 17px;
    left: 25px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
    width: 77px;
}

.www-musinsa-com-by .before-4 {
    background-color: #d8d8d8;
    border-radius: 2px;
    height: 4px;
    left: 930px;
    position: absolute;
    top: 15px;
    width: 60px;
}
