.div-header {
  background-color: #ffffff12;
  height: 245px;
  position: relative;
  width: 1920px;
  margin-right: 50px;
}

.div-header .navbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #00000017;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.div-header .list-item-link-LOGIN {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 330px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 36px;
}

.div-header .overlap {
  height: 56px;
  left: 372px;
  position: absolute;
  top: -1px;
  width: 57px;
}

.div-header .list-item-link-JOIN {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 7px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 44px;
}

.div-header .list-item {
  background-color: #3f3f3f;
  border-radius: 6px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 57px;
}

.div-header .overlap-group {
  height: 13px;
  left: 7px;
  position: relative;
  top: 3px;
  width: 47px;
}

.div-header .icon {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.div-header .text-wrapper {
  color: #ffffff;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 13px;
  left: 0;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 47px;
}

.div-header .list-item-link-CART {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 437px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 32px;
}

.div-header .list-item-link {
  background-color: #00000029;
  border-radius: 9px;
  height: 18px;
  left: 471px;
  position: absolute;
  top: 12px;
  width: 18px;
}

.div-header .div {
  color: #ffffff;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 13px;
  left: 6px;
  letter-spacing: 0.5px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 7px;
}

.div-header .list-item-link-ORDER {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 504px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 39px;
}

.div-header .list-item-link-MY {
  color: #222222;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 42px;
  left: 560px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 50px;
}

.div-header .list-item-2 {
  background-color: #00000029;
  height: 10px;
  left: 550px;
  position: absolute;
  top: 16px;
  width: 1px;
}

.div-header .list-item-link-2 {
  color: #222222;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 42px;
  left: 628px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 65px;
}

.div-header .list-item-3 {
  background-color: #00000029;
  height: 10px;
  left: 618px;
  position: absolute;
  top: 16px;
  width: 1px;
}

.div-header .list-item-link-3 {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1156px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 42px;
}

.div-header .list-item-link-EVENT {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1211px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 36px;
}

.div-header .list-item-link-FAQ {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1262px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 24px;
}

.div-header .list-item-link-4 {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1299px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 45px;
}

.div-header .list-item-link-5 {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1358px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 77px;
}

.div-header .list-item-link-6 {
  color: #222222;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  left: 1450px;
  letter-spacing: -0.15px;
  line-height: 42px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 44px;
}

.div-header .button {
  all: unset;
  border-color: #00000017;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  height: 42px;
  left: 1511px;
  position: absolute;
  top: 0;
  width: 79px;
}

.div-header .ko-KR-png {
 


  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 11px;
  position: absolute;
  top: 14px;
  width: 20px;
}

.div-header .text-wrapper-2 {
  color: #757575;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 13px;
  left: 34px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 34px;
}

.div-header .heading-link {
 
  background-position: 50% 50%;
  background-size: cover;
  height: 100px;
  left: 710px;
  position: absolute;
  top: 68px;
  width: 500px;
}

.div-header .link {
  height: 28px;
  left: 330px;
  position: absolute;
  top: 155px;
  width: 28px;
}

.div-header .img {
  height: 28px;
  left: 363px;
  position: absolute;
  top: 155px;
  width: 28px;
}

.div-header .form-fieldset {
  height: 28px;
  left: 1398px;
  position: absolute;
  top: 155px;
  width: 192px;
}

.div-header .navbar-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #00000017;
  border-top-style: solid;
  border-top-width: 1px;
  height: 52px;
  left: 0;
  position: absolute;
  top: 193px;
  width: 1920px;
}

.div-header .div-df-allmenu-btn {
  border-color: #00000017;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  height: 50px;
  left: 280px;
  position: absolute;
  top: 1px;
  width: 52px;
}

.div-header .span-df-allmenu-btn {
  background-color: #444444;
  border: 1px solid;
  height: 2px;
  left: 18px;
  position: absolute;
  top: 19px;
  width: 18px;
}

.div-header .span-df-allmenu-btn-2 {
  background-color: #444444;
  height: 2px;
  left: 18px;
  position: absolute;
  top: 25px;
  width: 18px;
}

.div-header .span-df-allmenu-btn-3 {
  background-color: #444444;
  height: 2px;
  left: 18px;
  position: absolute;
  top: 31px;
  width: 18px;
}

.div-header .list-item-link-BEST {
  color: #a40000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 15px;
  left: 380px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 59px;
}

.div-header .list-item-link-NEW {
  color: #a40000;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 15px;
  left: 463px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 56px;
}

.div-header .list-item-link-OUTER {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 596px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 42px;
}

.div-header .list-item-link-TOP {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 687px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 25px;
}

.div-header .list-item-link-KNIT {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 763px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 29px;
}

.div-header .list-item-link-PANTS {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 842px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 41px;
}

.div-header .list-item-link-SKIRT {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 933px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 35px;
}

.div-header .list-item-link-DRESS {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 1018px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 40px;
}

.div-header .list-item-link-ACC {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 1108px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 27px;
}

.div-header .list-item-link-SHOES {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 1185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 79px;
}

.div-header .list-item-link-7 {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 1310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 78px;
}

.div-header .list-item-link-ONLY {
  color: #000000;
  font-family: "NanumGothic-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 1427px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 67px;
}
.form-fieldset{
  right: 50px;
}
